.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar--solid {
  background-color: var(--cream);
}

.navbar__logo {
  font-family: var(--font-main);
  font-size: 1.5rem;
  color: var(--cream);
  margin: 0;
}

.navbar--solid .navbar__logo {
  color: var(--black);
}

.navbar__links {
  font-size: 1rem;
  display: flex;
  gap: 30px;
}

.navbar__links a {
  text-decoration: none;
  color: var(--cream);
  font-family: var(--font-main);
}

.navbar--solid .navbar__links a {
  color: var(--black);
}

.navbar--dark .navbar__logo {
  color: var(--black)
}

.navbar--dark .navbar__links a {
  color: var(--black);
}